.app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Asegúrate de que este valor sea menor que el z-index de los modals */
}